/* ------ GENERAL ------ */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
}

/* ------ DEBUG ------ */
.debug {
    color: red;
}

/* ------ /DEBUG ------ */




.container-fluid {
    height: 100vh;
}


#logged-user,
#selected-contact,
#send-msgs {
    height: 8vh;
}

#logged-user,
#selected-contact {
    background-color: #eaeaea;

}

#send-msgs {
    background-color: #f3eeea;
}

#search {
    height: 6vh;
    background-color: #fafafb;
}

#notifications {
    height: 10vh;
    background-color: #8edafc;
}

#contacts {
    height: calc(100vh - (8vh + 6vh + 10vh + 2px));
}

.contact-card.active {
    background-color: #e9ebec;
}

/* #received-side,
#sent-side {
    height: calc(100vh - (8vh + 8vh + 2px));
} */

#exchanged-msgs {
    height: calc(100vh - (8vh + 8vh + 2px));
    /* max-width: 100vw; */
}

#exchanged-msgs {
    background-image: url('../img/mine.jpg');
}



/* color-coded msgs */

#exchanged-msgs .col {
    display: flex;
    flex-direction: column;
}

.sent {
    justify-content: flex-end;
    background-color: #d5f9ba;
    align-self: flex-end;

}


.received {
    justify-content: flex-start;
    background-color: #ffffff;
    align-self: flex-start;

}

.message {
    display: flex;
    flex-direction: row;
    width: 40%;
    border-radius: 8px;
}

.message-time {
    text-align: right;
    font-size: 0.6rem;
    color: #b0b1b1;
}


.my-avatar-img {
    height: 50px;
}

.fa-solid,
.fa-regular {
    color: #b0b1b1;
    font-size: 1.4rem;
}

#notifications .fa-solid.fa-bell-slash {
    color: #8edafc;
    background-color: #ffffff;
    font-size: 1.4rem;
}

#search .fa-solid {
    font-size: 1rem;
}

#notifications p:first-child {
    font-size: 0.9rem;
}

#notifications p:last-child {
    color: #727272;
    font-size: 0.7rem;
}

#selected-contact img {
    height: 50px;
}

/* #selected-contact {
    color: black;
} */


.message-time {}