/* ------ GENERAL ------ */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
}

/* ------ DEBUG ------ */
.debug {
    color: red;
}

/* ------ /DEBUG ------ */




.container-fluid {
    height: 100vh;
}


#logged-user,
#notifications,
#search,
#selected-contact,
#send-msgs {
    height: 10vh;
}

#contacts {
    height: 70vh;
}


#received-side,
#sent-side {
    height: 80vh;
    /* width: 100%; */
}

#exchanged-msgs {
    background-color: tan;
}


/* color-coded msgs */

.sent-msg.cloud {
    background-color: #d5f9ba;
}

.received-msg.cloud {
    background-color: #ffffff;
}

.cloud {
    /* border: 1px solid grey; */
    border-radius: 8px;
    padding: 10px 8px;

}

/* /color-coded msgs */